<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>

<body>
    <form th:action="@{/student_update}" method="post">
        <input type="hidden" name="id" th:value="${student.id}" />

        Name: <input type="text" name="name" th:value="${student.name}" /><br>

        Gender:
        <input type="radio" name="gender" value="male" th:checked="${student.gender == 'male'}"> Male
        <input type="radio" name="gender" value="female" th:checked="${student.gender == 'female'}"> Female
        <br>

        City: <input type="text" name="city" th:value="${student.city}" /><br>

        Skills:<br>
        <input type="checkbox" name="skill" value="java" th:checked="${#strings.contains(student.skills, 'java')}"> Java<br>
        <input type="checkbox" name="skill" value="python" th:checked="${#strings.contains(student.skills, 'python')}"> Python<br>
        <input type="checkbox" name="skill" value="javascript" th:checked="${#strings.contains(student.skills, 'javascript')}"> js<br>

        <button type="submit">Update</button>
    </form>
</body>

</html>
