<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login_create" method="post">
        
        <label for="email">Email:</label>
        <input type="email" name="email"><br>

        <label for="psw">Passsword:</label>
        <input type="password" name="psw"><br>

        <button type="submit">submit</button>
    </form>
    <h1><span th:text="${data}"></span></h1>
    <a href="/signup">signup</a>
</body>
</html>